$heading-color: dodgerblue;
#experience {
  padding-top: 80px;
  //   background: black;
  color: black;
}

.exp-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// .education {

// }
